.menuGroup {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    background-color: var(--dark);
    border-radius: var(--roundingL);
    gap: 1rem; 
    padding: 1rem;
    width: 70%;
    max-height: 80dvh;
    overflow-y: auto;
    border: 1px solid color-mix(in srgb, var(--primary) 20%, var(--dark) 80%);
  }

.menuGroup .menu {
  /* flex-grow: 1; */
  border-radius: var(--roundingL);
  padding: 1rem;
  background-color: var(--dark-lite);
  display:flex;
  flex-direction: column;
  gap: 1rem;
  /* width: space-available; */
  min-width: fit-content;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.backdrop:visible {
    backdrop-filter: blur(3px);
}

.backdrop:not(:visible) {
    backdrop-filter: blur(0px);
    /* transition: backdrop-filter var(--transition); */
}

.backdrop {
    position: absolute;
    display: flex;
    
    align-items: center;
    justify-content: center;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
    /* backdrop-filter: blur(0px); */
    transition: backdrop-filter var(--transition);
}

.backdrop > * {
    pointer-events: all;
}

.menuHeading {
  --fontSize: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.menuHeading * {
  font-size: var(--fontSize);
  color: var(--primary)
}

*:has(> h1) {
  text-decoration: none;
  position: relative;
  padding: 0 0 0.25rem 0
}
*:has(> h1)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--primary);
}
  