<!-- <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Click me!</button> -->
<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:2975005727. -->
<app-icon-button [props]="{icon: 'search', text: 'home'}" [cdkMenuTriggerFor]="menu"/>
<ng-template #menu let-overlayRef>
    <div class="backdrop" >
      <div class="menuGroup" cdkMenu>
          <ng-container *ngFor="let menuGroup of menuGroups">
            <div class="menu">
              <div><h1>{{menuGroup.text}}</h1></div>
              <div class="menuItem">
                <ng-container *ngFor="let item of menuGroup.children">
                  <app-icon-link [props]="{icon: item.icon, text: item.text, href: item.href, target: item.target}"></app-icon-link>
                </ng-container>
              </div>
            </div>

          </ng-container>
        </div>
            <!-- menu is each element of MenuMains -->
        <!-- <div class="menuGroup" cdkMenu>
          <button class="example-menu-item" cdkMenuItem>Refresh</button>
          <button class="example-menu-item" cdkMenuItem>Settings</button>
          <button class="example-menu-item" cdkMenuItem>Help</button>
          <button class="example-menu-item" cdkMenuItem>Sign out</button>
        </div> -->
    </div>
  </ng-template>