main {
    padding: 1rem;
}

form {
    display: grid;
    /* grid-template-columns: fit-content auto; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: var(--roundingL);
    box-shadow: 0.5rem 0.5rem 0.5rem color-mix(in srgb, var(--dark) 80%, #00000000 20%),
                -0.5rem -0.5rem 0.5rem color-mix(in srgb, var(--dark) 20%, #00000000 80%);
}

form > * {
    align-self: center;
}

form > app-textBox {
    grid-column: span 2;
}

form > app-icon-button {
    grid-column: span 1;
}
