<main class="padding">
  <form action="/api/add" method="post" #form_EditSubject="ngForm" class="flex vertical align_center gap borderRadius paddingHalf" id="editSubjectForm">
    <p class="width100">Edit Subject</p>
    <hr class="width100">
    <div class="grid gridCol3 width100">
      <label for="parentClass" class="self_align_center">Parent Class:</label>
      <div *ngIf="loadingSubject; else subjectLoaded">
        Loading classroom...
      </div>
      <ng-template #subjectLoaded>
        <app-dropdown #c_ParentClass [props]="{
            name: 'parentClass', id: 'paerntClass', allowNone: false, options: dropDownOption, isReadonly: true
        }" class="width100 span2Right" />
      </ng-template>
    </div>
    <div class="grid gridCol3 width100">
      <label for="subjectCode" class="self_align_center">Subject Code:</label>
      <app-textBox #c_code [props]="{
          regex: '[^\s][A-z0-9_\s]+', placeholder: 'Enter Subject Code', type: 'text', icon: 'add', tooltip: 'A-Z, a-z, 0-9, _, -', name: 'subjectCode',
          id: 'subjectCode', isRequired: true, isReadonly: true
      }" class="width100 span2Right" />
    </div>
    
    <div class="grid gridCol3 width100">
      <label for="subjectName" class="self_align_center">Subject Name:</label>
      <app-textBox #c_name [props]="{
          regex: '[a-zA-Z0-9_ ]*', placeholder: 'Enter Subject Name', type: 'text', icon: 'add', tooltip: 'A-Z, a-z, 0-9', name: 'subjectName',
        id: 'subjectName', isRequired: true
      }" class="width100 span2Right" />
    </div>
    <div class="grid gridCol3 width100">
      <label for="IsActive" class="self_align_center">Is Active:</label>
      <div class="width100 span2Right">
        <app-toggle #c_isActive [props]="{id: 'classroomToggle', name: 'classroomToggle', isChecked: true}" />
      </div>
    </div>

    <div class="grid gridCol3 gap width100">
      <app-icon-button [props]="{'icon': 'clear_all', 'text': 'Clear All', 'type': 'capsule'}" onClick="document.getElementById('editSubjectForm').reset();" />
      <app-icon-button [props]="{'icon': 'keyboard_backspace', 'text': 'Back', 'type': 'capsule'}" (click)="navigateTo('', '')"/>
      <app-icon-button [props]="{'icon': 'Save', 'text': 'Save', 'type': 'capsule'}" (click)="submit()" class="check_valid"/>
    </div>

  </form>
</main>