<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main >
  <div class="fullPage">
    <div class="sideNavContainer">
      <app-sidenav [menuCollections] = "{
        menuCollections: [
          {
            icon: 'home',
            text: 'Home',
            menuGroups: [
              {
                icon: 'web',
                text: 'Web',
                children: [
                  {icon: 'search', text: 'Search', href: '#'}
                ]
              }
            ]
          },
          {
            icon: 'settings',
            text: 'Configure',
            menuGroups: [
              {
                icon: 'school',
                text: 'Classroom',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'book',
                text: 'Subjects',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'bookmark',
                text: 'Chapter',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'question_mark',
                text: 'Questions',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'note_alt',
                text: 'Answers',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'two_pager',
                text: 'Syllabus',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'pie_chart',
                text: 'Bias',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              }
            ]
          },
          {
            icon: 'edit_note',
            text: 'Create',
            menuGroups: [
              {
                icon: 'unknown_document',
                text: 'QS: Syllabus',
                children: [
                  {icon: 'add', text: 'Generate', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'unknown_document',
                text: 'QS: Chapterwise',
                children: [
                  {icon: 'add', text: 'Generate', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'description',
                text: 'ANS: Syllabus',
                children: [
                  {icon: 'add', text: 'Generate', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'description',
                text: 'ANS: Chapterwise',
                children: [
                  {icon: 'add', text: 'Generate', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
            ]
          },
          {
            icon: 'person',
            text: 'User',
            menuGroups: [
              {
                icon: 'shield_person',
                text: 'User Management',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'admin_panel_settings',
                text: 'Role Management',
                children: [
                  {icon: 'add', text: 'Add', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                  {icon: 'menu', text: 'See All', href: '#'}
                ]
              },
              {
                icon: 'account_circle',
                text: 'Session',
                children: [
                  {icon: 'Logout', text: 'Logout', href: '#'},
                  {icon: 'edit', text: 'Edit', href: '#'},
                ]
              }
            ]
          }
        ]
      }"></app-sidenav>
    </div>
    <div class="pageContainer">
  
      <!-- <app-researchLab/> -->
      <app-addClassrooom/>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <router-outlet /> -->
