<main class="padding">
    <form action="/api/add" method="post" #form_AddClassroom="ngForm" class="flex vertical align_center gap borderRadius paddingHalf" id="addClassroomForm">
      <p class="width100">Add Chapter</p>
      <hr class="width100">
      <div class="grid gridCol3 width100">
        <label for="Class" class="self_align_center ">Class:</label>
        <app-dropdown class="width100 span2Right"/>
      </div>
      <div class="grid gridCol3 width100">
        <label for="Class" class="self_align_center ">Subject:</label>
        <app-dropdown class="width100 span2Right"/>
      </div>
      <div class="grid gridCol3 width100">
        <label for="ChapterCode" class="self_align_center">Chapter Code:</label>
        <app-textBox [props]="{
            regex: '[A-Za-z0-9]+', placeholder: 'Enter Chapter Code', type: 'text', icon: 'add', tooltip: 'A-Z, a-z, 0-9', name: 'SubjectCode',
            id: 'ChapterCode', isRequired: true
        }" class="width100 span2Right" />
      </div>
      
      <div class="grid gridCol3 width100">
        <label for="ChapterName" class="self_align_center">Chapter Name:</label>
        <app-textBox [props]="{
            regex: '[A-Za-z0-9]+', placeholder: 'Enter Chapter Name', type: 'text', label: '', icon: 'add', tooltip: 'A-Z, a-z, 0-9', name: 'SubjectName',
          id: 'ChapterName', isRequired: true
        }" class="width100 span2Right" />
      </div>
      <div class="grid gridCol3 width100">
        <label for="IsActive" class="self_align_center">Is Active:</label>
        <div class="width100 span2Right">
          <app-toggle [props]="{id: 'IsActive', name: 'IsActive', isChecked: true}" />
        </div>
      </div>

      
      <div class="grid gridCol3 gap width100">
        <app-icon-button [props]="{'icon': 'clear_all', 'text': 'Clear All', 'type': 'capsule'}" onClick="document.getElementById('addClassroomForm').reset();" />
        <app-icon-button [props]="{'icon': 'keyboard_backspace', 'text': 'Back', 'type': 'capsule'}" onClick="window.location = '/classroom/list'"/>
        <app-icon-button [props]="{'icon': 'Add', 'text': 'Add', 'type': 'capsule'}" onclick = "submit()"/>
      </div>

    </form>
</main>