<main>
    <div class="flex gap horizontal">
        <app-icon-button [props]="{icon:'keyboard_double_arrow_left', text:''}" class="flex center"/>
        <app-icon-button [props]="{icon:'keyboard_arrow_left', text:''}" class="flex center"/>
        <app-icon-button [props]="{text:page.toString()}" *ngFor="let page of pages" class="flex center" [class.active]="page === page_Number"/>
        <app-icon-button [props]="{icon:'keyboard_arrow_right', text:''}" class="flex center"/>
        <app-icon-button [props]="{icon:'keyboard_double_arrow_right', text:''}" class="flex center"/>
    </div>
</main>